<ion-button id="open-modal" expand="block">Sign Up</ion-button>

<ion-modal trigger="open-modal">
<ng-template>

  <ion-header>
    <ion-toolbar>
      <ion-title>Sign Up</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="!signupForm.valid">Sign Up</ion-button>
    </form>
  </ion-content>
  
</ng-template>
</ion-modal>

