
  <ion-searchbar  (ionInput)="handleChange($event)" (ionCancel)="reset()" ></ion-searchbar>
  
  <ion-list>
    <ion-item>
      <ion-checkbox slot="start" [checked]="selectallChecked"  (ionChange)="selectAll($event)">Select All</ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let result of results;">
      <ion-checkbox slot="start" [(ngModel)]="result.isChecked" (ionChange)="toogleChecked(result)"></ion-checkbox>
      <ion-label>{{ result.name }}</ion-label>
    </ion-item>
  </ion-list>